{% extends 'readingApp/base.html' %}

{% block body_block %}
    <div class="jumbotron">
        <h1>{{ book.name }}</h1>
        <hr class="my-2">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="{{ book.pdf_file.url }}"></iframe>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var reading = document.getElementById("reading");
        reading.classList.remove("btn-danger");
        reading.classList.add("btn-success");
    </script>
{% endblock %}